* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  background-color: #f5f4f8;
}

.navbar-light .navbar-nav .nav-link,
.card a,
footer .nav .nav-link {
  color: #18113c;
}

.navbar-light .navbar-nav .nav-link:hover,
.card a:hover,
footer .nav .nav-link:hover {
  color: #754ffe;
  text-decoration: none;
}

.btn-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar-xs {
  width: 1.5rem;
  height: 1.5rem;
}

.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-toggler {
  margin-left: 0.5rem;
}

.pl-6 {
  padding-left: 2.5rem;
}

.pb-6 {
  padding-bottom: 2.5rem;
}

.pt-8 {
  padding-top: 3.5rem;
}

.bg-icon {
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  color: #c28135;
  background-color: #ffeeda;
  border-radius: 50%;
}

.card {
  border: 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card-footer {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid #eae7f5;
}

@media only screen and (min-width: 992px) {
  .pt-lg-12 {
    padding-top: 5.5rem;
  }
}



